# Sistema operativo
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.iml

# Backend (Java/Maven)
backend/target/
backend/.mvn/
backend/HELP.md

# Frontend (Angular/Node)
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/npm-debug.log*

# Docker
*.log
